@{
    ViewData["Title"] = "Gmail Client";
    var IsTimerEnabled = ViewBag.IsTimerEnabled;
    var Records = ViewBag.Records;
}

@if (!IsTimerEnabled)
{
    <a href="/Home/StartTimer" class="btn btn-success">Start Timer</a>
}
else
{
    <a href="/Home/StopTimer" class="btn btn-danger">Stop Timer</a>
}

@foreach (var record in Records)
{
    <br />@record
}